.join-room-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: bisque;
  width: 220px;
  height: 100px;
}